<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674052514669-t48s9urplb7it60osb6ljvkmm68nn5ek.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674052514669-t48s9urplb7it60osb6ljvkmm68nn5ek</string>
	<key>API_KEY</key>
	<string>AIzaSyD95SUFg7YsrjupSQpX6Ugvd2V42zxevWQ</string>
	<key>GCM_SENDER_ID</key>
	<string>674052514669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>denison.deerx.app</string>
	<key>PROJECT_ID</key>
	<string>deerx-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>deerx-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674052514669:ios:50311f9561525677423064</string>
</dict>
</plist>